.favourite {
    margin-top: 110px;
}

.back {
    display: flex;
    gap: 5px;
    align-items: center;
}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show_pizzas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
}