.li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(4,1fr);
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.pizza {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 350px;
    width: 100%;
}

.image {
    img{
        width: 100px;
    }
}

.info {
    display: grid;

    h3{
        font-size: 20px;
    }
    p{
        color: gray;
    }
}

.count {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
}

.price {
    display: flex !important;
    justify-content: flex-end;
    font-size: 22px;
    max-width: 100px;
    width: 100%;

    svg{
        display: flex;
        font-size: 28px;
    }
}

.remove {
    display: flex;
    justify-content: flex-end;
}

.for_mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ed6c02;
    border-radius: 4px;
}