.show_pizzas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 40px;

  &.grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
